# Maven
target/
*.jar
*.class

# IDE
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Build
out/

# App binaries
*.apk
*.ipa

# Logs
*.log
test-output/

# Allure
allure-results/

